[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RBNZ"]
	path = RBNZ
	url = https://github.com/rntq472/rbnz
[submodule "inverseRegex"]
	path = inverseRegex
	url = https://github.com/rntq472/inverseregex
[submodule "precisePlacement"]
	path = precisePlacement
	url = https://github.com/rntq472/preciseplacement
